* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --primary-color: #C8C9C4;
   --secondary-color: #3C3C3C;
   --tertiary-color: #6C6D68;
}

header {
   background-color: var(--secondary-color);
   border-bottom: 1px solid var(--tertiary-color);
   padding: 20px;
}

header h1{
   color: var(--primary-color);
}

section {
   background-color: var(--primary-color);
   color: var(--secondary-color);
}

footer {
   color: var(--tertiary-color);
}